<div id="<%= dom_id bank_account %>">
  <p>
    <strong>Name:</strong>
    <%= bank_account.name %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= bank_account.account_number %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= bank_account.account_type %>
  </p>

  <p>
    <strong>Bank name:</strong>
    <%= bank_account.bank_name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bank_account.user_id %>
  </p>

</div>
