<div class="container my-5">
  <h1 class="text-center mb-4"><%= @bank_account.name %></h1>

  <p style="color: green"><%= notice %></p>

  <div class="container mt-5">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Amount</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <% @bank_account.transactions.each do |transaction| %>
        <tr>
          <th scope="row"><%= transaction.id %></th>
          <td><%= transaction.amount %></td>
          <td><%= transaction.description %></td>
          <td><%= transaction.completed_at.strftime('%B %d, %Y') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>


  <div>
    <%= link_to "Edit this bank account", edit_bank_account_path(@bank_account) %> |
    <%= link_to "Back to bank accounts", bank_accounts_path %>

    <%= button_to "Destroy this bank account", @bank_account, method: :delete %>
  </div>
</div>
